/* Estilos Generales */
* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el Body */
body {
    min-height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos del Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 80px;
    background-color: #380D06;
    z-index: 1000;
}

.logo {
    height: auto;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item > a {
    text-decoration: none;
    color: white;
}

.item > a:hover {
    text-decoration: none;
    color: #ff2258;
}

.item {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #f2f2f2;
}

.item:hover {
    color: #ff2258;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

label {
    cursor: pointer;
    display: none;
    margin-left: 5em;
}

/* Ajustes para pantallas menores a 991px */
@media (max-width: 991px) {
    header {
        padding: 0 3%;
    }

    .menu {
        flex-direction: column;
        padding: 30px;
        margin: 0;
    }

    label {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #233bb4;
        display: none;
    }

    .item {
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    #menu:checked ~ .menu {
        display: block;
    }    
}

/* Estilos del Nav */
nav {
    max-width: 100%;
    margin: auto;
    background-color: #29030e;
    font-size: 18px;
    margin-top: 80px;
    overflow: hidden;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: #e7e9f3;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: red;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #29030e;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

/* Ajuste de fuentes y espacios en pantallas pequeñas */
@media (max-width: 768px) {
    .item {
        font-size: 16px;
    }

    .contenedor p,
    .titutlopar > p,
    .titutlopar2 > p {
        font-size: 18px;
    }

    .noticia {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .item {
        font-size: 14px;
    }

    .contenedor img {
        padding: 5%;
    }

    .noticia {
        width: 100%;
    }

    .imagenpar img {
        width: 100%;
    }

    .imagenpar2 img {
        width: 100%;
    }

    .duraciona {
        width: 100%;
        margin: 20px auto;
    }
}

/* Footer */
.footer {
    flex-wrap: wrap;
    padding: 20px;
}

#izquierda,
#derecha {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#izquierda a,
#derecha a {
    padding-left: 0;
    justify-content: center;
}
