/* Reset de márgenes y paddings para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f6f7f4; /* Color de fondo similar al de index.html */
}

/* Estilos para el header */
header {
    background-color: #380D06; /* Color de fondo del header */
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    max-width: 150px; /* Asegura que el logo no se distorsione */
    height: auto;
}

/* Estilos para el menú */
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0.5rem;
}

.menu-item a:hover {
    color: #ff2258; /* Color de hover */
}

.menu-icono {
    width: 30px;
    cursor: pointer;
    display: none; /* Ocultamos el icono por defecto */
}

#menu {
    display: none; /* Menú oculto por defecto */
}

/* Estilos para el menú desplegable */
.menu-vertical {
    list-style: none;
    background-color: #29030e; /* Color de fondo del menú desplegable */
    position: absolute;
    top: 100%;
    right: 0;
    display: none; /* Ocultamos el menú desplegable por defecto */
}

.menu-vertical li {
    margin: 0;
}

.menu-vertical a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu-vertical a:hover {
    background-color: #575757; /* Color de hover para el menú vertical */
}

/* Mostrar menú en dispositivos móviles */
#menu:checked ~ .menu {
    display: block;
}

#menu:checked ~ .menu-vertical {
    display: block;
}

/* Estilos para el contenedor principal */
.main {
    text-align: center;
    margin-top: 100px; /* Espacio debajo del header fijo */
}

/* Estilos para el slider */
.slider-frame {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite;
}

.slider-frame ul li {
    width: 100%;
    list-style: none;
}

.slider-frame ul li img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
}

/* Estilos para el footer */
.footer {
    background: linear-gradient(20deg, #380D06, #6D120F, #A5241B, #E23D34);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    margin-right: 10px;
}

/* Estilos para la sección de copyright */
.copi {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    width: 100%;
}
